{% extends 'base.html' %}
{% load static %}
{% block link%} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endblock %}
{% block content %}
<!-- partial:index.partial.html -->
<div class="log-form">
        <h2>Login to your account</h2>
        <form action="" method="post">
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          
          <button type="submit" class="btn">Login</button>
          <a class="forgot" href="/accounts/register">Dont have account?</a>
        </form>
      </div><!--end log form -->
<!-- partial -->
{% endblock %}  

