{% extends 'base.html' %}
{% load static %}

{%block title %} Register {% endblock %}
{% block link%} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endblock %}
{%block content%}
    <div class="log-form">
        <h2>Wellcome to Bestoon</h2>
        <form action="" method="post">
            {% csrf_token %}
          <input type="text" name="username" placeholder="username" />
          <input type="text" name="email" placeholder="email" />
          <input type="password" name="password" placeholder="password" />
          <button type="submit" class="btn">Register</button>
          <a class="forgot" href="/accounts/login/">do you have an account?</a>
        </form>
      </div><!--end log form -->
{%endblock%}

